* {
    font-family: 'Whitney', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --blurple: #5865F2;
    --white: #FFFFFF;
    --gray: #23272A;
    --dark-gray: #171a1c;
    --light-gray: #36393e;
    --mobile: #5663F7;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 5px;
    height: 3px;
  }
  
  ::-webkit-scrollbar-button {
    background-color: var(--gray);
  }
  
  ::-webkit-scrollbar-track {
    background-color: var(--gray);
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: var(--gray);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--dark-gray);
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-corner {
    background-color: var(--gray);
  }
  
  ::-webkit-resizer {
    background-color: var(--gray);
  }

section.background {
    width: auto;
    height: 100vh;
    background-color: var(--light-gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

/* Placement */

.profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    width: 400px;
    background: var(--gray);
    border-radius: 10px;
}

/* Header aka banner*/

.profile>.header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
    background: var(--blurple);
    height: 120px;
    z-index: -3;
}

.profile>.header img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Avatar Decoration */

.profile>.backdrop {
    margin: -55px 30px;
    position: absolute;
    z-index: 0;
}

.profile>.backdrop img.deco {
    width: 128px;
    height: 128px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-self: center;
}

.profile>.deco {
    margin: -50px 30px;
    position: absolute;
    z-index: 2;
}

.profile>.deco img.deco {
    width: 128px;
    height: 128px;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-self: center;
}

/* Avatar */

.profile>.avatar {
    margin: -50px 30px;
    position: relative;
}

.profile>.avatar img.avatar {
    width: 128px;
    height: 128px;
    border: 8px solid var(--gray);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-self: center;
    background-color: var(--gray);
}

/* (User)(Tag) */

.profile>.tag {
    width: 225px;
    margin: 0;
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    padding: 60px 20px 0;
    white-space: nowrap;
}

.profile>.tag p.name {
    font-weight: 800;
}

.profile>.tag span.tag {
    font-weight: 800;
    opacity: 0.5;
    letter-spacing: 0.5px;
}

/* Badges */

.badge {
    position: absolute;
    margin: -120px 290px;
}

.badge>img {
    margin: 2px;
    width: 24px;
    height: 24px;
}

/* Status */

.status {
    padding: 0 20px;
    color: #fff;
}

.status>textarea {
    font-weight: 900;
    font-size: 0.8rem;
    opacity: 0.6;
    letter-spacing: 0.5px;
}


/* Divider */

.profile>hr.divider {
    width: 350px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-radius: 999999px;
    background: var(--light-gray);
    border: none;
    height: 1.5px;
    opacity: 1;
}

/* About me */

.about {
    padding: 0 20px;
    color: #fff;
}

.about>h2 {
    font-weight: 900;
    font-size: 0.8rem;
    opacity: 0.6;
    letter-spacing: 0.5px;
}

/* Editor */

.editor {
    /* Position */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background: var(--gray);
    height: 100vh;
    max-width: 350px;
    overflow: hidden;
    overflow-y: scroll;
}

.editor .top {
    border: 1px solid var(--light-gray);
    border-radius: 15px;
    width: auto;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
    height: 120px;
    z-index: -3;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    overflow: hidden;
}

.editor .top h4 {
    padding: 50px;
    text-align: center;
    font-family: 'Whitney';
    color: #fff;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
}

.editor .top .content {
    cursor: pointer;
    background: url('../img/background.png') no-repeat;
    background-size: cover;
    transition: 0.5s ease;
    filter: brightness(0.8)
}

.editor .top .content:hover {
    transform: scale(1.2);
    filter: brightness(1)
}

.editor p {
    font-family: 'Whitney';
    color: #b9bbbe;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding-top: 30px;
}

.editor input {
    resize: none;
    outline: none;
    border: none;
    background-color: #1c1e20;
    padding: 5px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}

.editor #editoritems {
    display: block;
}

.editor button.close {
    padding: 0;
    background: none;
    text-align: center;
    margin: 10px;
    transition: 0.5s ease-in-out;
}

.editor button.close:hover {
    transform: rotate(360deg) scale(1.2);
    text-align: center;
    border-radius: 99px;
    background: none;
}

.editor button {
    margin: 5px 25px;
    border-radius: 5px;
    font-size: 14px;
    padding: 8px;
    background: var(--blurple);
    transition: 0.2s;
}

.editor button:hover {
    background: #4954cd;
}

/* Note */

.note {
    position: absolute;
    margin: -10px 20px;
    color: #fff;
}

.note>h2 {
    font-weight: 900;
    font-size: 0.8rem;
    opacity: 0.6;
    letter-spacing: 0.5px;
}

.note>textarea {
    font-size: 0.8rem;
}

/* Text Areas */

textarea,
p span {
    resize: none !important;
    outline: none;
    border: none;
    background-color: var(--gray);
    border-radius: 5px;
    color: white;
    overflow: hidden;
    min-height: auto;
    transition: background 0.15s;
}

textarea:focus,
p span:focus {
    border: none;
    background-color: #202225;
    transition: background 0.15s;
}

#status {
    height: 34px;
    max-height: 74px;
}

#about {
    height: 34px;
    max-height: 204px;
}

#note {
    height: 34px;
    max-height: 170px;
}

/** Buttons **/

button {
    border: none;
    background-color: transparent;
    color: white
}

/* Auto Adjustment */

@media (max-width: 1000px) {
    /* Editor */

    .editor {
        left: 0%;
        position: relative;
        float: left;
        height: 100vh;
        border-left: none;
        border-right: 1px solid var(--blurple);
        background: var(--gray);
        max-width: 350px;
        z-index: 2;
        overflow: hidden;
        overflow-y: scroll;
    }

    .editor p {
        color: var(--white);
        opacity: 0.4;
        letter-spacing: 0.2px;
        padding-top: 25px;
    }

    .editor input {
        z-index: 2;
        resize: none;
        outline: none;
        border: none;
        background-color: #171a1c;
        padding: 5px;
        border-radius: 5px;
        color: white;
        overflow: hidden;
    }

    .editor .items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* Placement */

    .profile {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        min-height: 500px;
        width: 360px;
        background: var(--gray);
        border-radius: 0px;
        z-index: 1;
    }

    /* Header aka banner*/

    .profile>.header {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        width: auto;
        background: var(--blurple);
        height: 120px;
        z-index: -3;
    }

    .profile>.header img {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        align-self: center;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }

    /* Avatar */

    .profile>.avatar {
        margin: -50px 30px;
        position: relative;
    }

    .profile>.avatar img.avatar {
        width: 128px;
        height: 128px;
        border: 8px solid var(--gray);
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        align-self: center;
        background-color: var(--gray);
    }

    /* (User)(Tag) */

    .profile>.tag {
        width: 225px;
        margin: 0;
        font-size: 1.3rem;
        color: #fff;
        display: flex;
        padding: 60px 20px 0;
        white-space: nowrap;
    }

    .profile>.tag p.name {
        font-weight: 800;
    }

    .profile>.tag span.tag {
        font-weight: 800;
        opacity: 0.5;
        letter-spacing: 0.5px;
    }

    /* Badges */

    .badge {
        position: absolute;
        margin: -120px 260px;
    }

    .badge>img {
        width: 20px;
        height: 20px;
    }

    /* Status */

    .status {
        padding: 0 20px;
        color: #fff;
        opacity: 0.8;
    }

    .status>p {
        font-weight: 900 !important;
        font-size: 0.8rem;
        letter-spacing: 0.5px;
    }


    /* Divider */

    .profile>hr.divider {
        width: 350px;
        margin-inline-start: auto;
        margin-inline-end: auto;
        overflow: hidden;
        border-radius: 999999px;
        background: var(--light-gray);
        border: none;
        height: 1.5px;
        opacity: 1;
    }

    /* About me */

    .about {
        padding: 0 20px;
        color: #fff;
    }

    .about>h2 {
        font-weight: 900;
        font-size: 0.8rem;
        opacity: 0.6;
        letter-spacing: 0.5px;
    }
}

/* In-Window Popups */

.popup {
    display: none;
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
}

.popup .content {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #2196F3;
    color: #fff;
}