* {
    font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --blurple: #5865F2;
    --white: #FFFFFF;
    --gray: #23272A;
    --light-gray: #36393e;
    --mobile: #5663F7;
}

section.background {
    width: auto;
    height: 100vh;
    background-color: var(--light-gray);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Placement */

.profile {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-height: 600px;
    width: 400px;
    background: var(--gray);
    border-radius: 10px;
}

/* Header aka banner*/

.profile > .header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
    background: var(--blurple);
    height: 120px;
    z-index: -3;
}

.profile > .header img {
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    object-fit: cover;
    align-self: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/* Avatar */

.profile > .avatar {
    margin: -50px 30px;
    position: relative;
}

.profile > .avatar img.avatar {
    width: 128px;
    height: 128px;
    border: 8px solid var(--gray);
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    align-self: center;
    background-color: var(--gray);
}

/* (User)(Tag) */

.profile > .tag {
    width: 225px;
    margin: 0;
    font-size: 1.3rem;
    color: #fff;
    display: flex;
    padding: 60px 20px 0;
    white-space: nowrap;
}

.profile > .tag p.name {
    font-weight: 800;
}

.profile > .tag span.tag {
    font-weight: 800;
    opacity: 0.5;
    letter-spacing: 0.5px;
}

/* Badges */

.badge {
    position: absolute;
    margin: -120px 350px;
}

.badge > img {
    width: 24px;
    height: 24px;
}

/* Status */

.status {
    padding: 0 20px;
    color: #fff;
    opacity: 0.8;
}

.status > p {
    font-weight: 900!important;
    font-size: 0.8rem;
    letter-spacing: 0.5px;
}


/* Divider */

.profile > hr.divider {
    width: 350px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    overflow: hidden;
    border-radius: 999999px;
    background: var(--light-gray);
    border: none;
    height: 1.5px;
    opacity: 1;
}

/* About me */

.about {
    padding: 0 20px;
    color: #fff;
}

.about > h2 {
    font-weight: 900;
    font-size: 0.8rem;
    opacity: 0.6;
    letter-spacing: 0.5px;
}

/* Editor */

.editor {
    float: right;
    height: 100vh;
    background: var(--gray);
    max-width: 300px;
    border-left: 5px solid var(--blurple);
}

.editor p {
    color: var(--white);
    opacity: 0.4;
    letter-spacing: 0.2px;
    padding-top: 25px;
}

.editor input {
    resize: none;
    outline: none;
    border: 1px solid #0e1011;
    background-color: #171a1c;
    padding: 5px;
    border-radius: 5px;
    color: white;
    overflow: hidden;
}

.editor #editoritems{
    display: block;
}

/* Note */

.note {
    position: absolute;
    margin: -10px 20px;
    color: #fff;
}

.note > h2 {
    font-weight: 900;
    font-size: 0.8rem;
    opacity: 0.6;
    letter-spacing: 0.5px;
}

/* Text Areas */

textarea,p span{
    resize: none!important;
    outline: none;
    border: none;
    background-color: var(--gray);
    border-radius: 5px;
    color: white;
    overflow: hidden;
    min-height: auto;
    transition: background 0.15s;
}

textarea:focus,p span:focus{
    border: none;
    background-color: #202225;
    transition: background 0.15s;
}

#status{
    height:34px;
    max-height: 74px;
}

#about{
    height:34px;
    max-height: 204px;
}

#note{
    height:34px;
    max-height: 170px;
}

/** Buttons **/

button{
    border:none;
    background-color: transparent;
    color:white
}